*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff2e6;
    color: #1d0836;
    align-items: center;
    font-family: georgia;
}
body{
    width: 90%;
    min-width: 600px;
    max-width: 900px;
    margin: 20px auto;
}
main{
    width: 90%;
    margin: 0 auto;
}
figure{
    padding: 4px;
    border: 2px solid #1d0836;
    background-color: lightgray;
    height: 357px;
}
img{
    height: 330px;
}
figcaption{
    font-size: 9px;
    background-color: lightgray;
    text-align: center;
}
.title {
    text-align: center;
    border: 2px solid #1d0836;
    padding: 20px;
}
.container {
    display: flex; /* Aligns children (image and text-content) side by side */
    align-items: center; /* Vertically centers the items */
    gap: 20px; /* Adds space between the image and the text */
}
.text-content {
    text-align: center;
    border: 2px solid #1d0836;
    padding: 30px;
    margin: 10px;
    width: 550px;
    height: 357px;
}
.text-content.long{
    text-align: justify;
}
.text-content.long h2{
    text-align: center;
}